<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>baldlion-vue-express-mongoose</title>

  {{#if production}}
    <link rel="stylesheet" href="/css/admin.css">
  {{/if}}
</head>
<body>

<div id="admin"></div>

<script>
  window.___DEFAULT_STATE___ = {
    user: {{{user}}}
  };
</script>
<script src="/js/admin.js"></script>

</body>
</html>